.GameCreationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.Form {
  width: 320px;
  max-width: 100%;
  padding: 20px;
}

.FormGroup {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 16px;

  label {
    width: 60px;
    color: white;
  }

  input {
    flex: 1;
    padding: 4px 6px;
    font-size: 16px;
  }
}

.Game {
  max-width: 100%;
  overflow: auto;
}

.SubmitGroup {
  display: flex;
  justify-content: flex-end;
}

.SubmitButton {
  padding: 4px 12px;
  font-size: 16px;
}

.Statuses {
  display: block;
  width: 90%;
  margin-top: 24px;
  padding: 8px;
  font-size: 14px;
  resize: vertical;
  background-color: #fff;
  white-space: pre-wrap;
  border: 1px solid gray;
}

.CopyButton {
  margin-top: 20px;
}

.Button {
  padding: 4px 12px;
  font-size: 16px;
}