@import '../variables.scss';

.Button {
  padding: 6px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: $colorPrimary;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: 200ms all ease;

  &:hover {
    color: $colorPrimary;
    background-color: $colorDark;
  }

  &:active {
    color: $colorPrimary;
    border-color: $colorPrimary;
  }

  &.secondary {
    color: #fff;
    background-color: transparent;
    border-color: $colorPrimary;

    &:hover {
      color: $colorDark;
      background-color: #fff;
    }

    &:active {
      color: $colorPrimary;
      background-color: #fff;
    }
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
