@import 'variables.scss';

.Login {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100vw;
}

.Logo {
  margin-top: 60px;
  height: 120px;
}

.LogoImage {
  max-height: 100%;
}

.Title {
  margin-top: 32px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.HowToPlay {
  display: block;
  margin-top: 32px;
  font-size: 20px;
  text-align: center;
  color: $colorLight;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $colorPrimary;
  }
  
  &:active {
    color: $colorLight;
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 80px;

  input {
    width: 280px;
    padding: 6px 8px;
    font-size: 16px;
  }

  button {
    width: 220px;
    margin-bottom: 36px;
  }
}
